<!-- 메뉴 관련 CSS -->
    .menu {
        position: relative;
        flex-grow: 1;
    }
.menu-section {
    position: fixed; /* 사이드바 바깥쪽으로 제대로 표시되도록 변경 */
    top: 0;
    left: 200px; /* 사이드바 너비에 맞춰서 설정 */
    width: 250px;
    height: 100%;
    background-color: #000000;
    border: 1px solid #121212;
    box-sizing: border-box;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    overflow-y: auto;
    z-index: 1000;

    text-align: center;
    justify-content: center;
}

.menu-section.active {
    opacity: 1;
    visibility: visible;
}
    .menu-search-bar {
        width: 90%;
        border: 1px solid #dbdbdb;
        border-radius: 5px;
        margin-bottom: 20px;
    }
    .notification-item, .menu-search-item {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
    .notification-item img, .menu-search-item img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 10px;
    }