.sidebar {
    background-color: #000;
    color: #fff;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    overflow-y: auto;
    width: 200px;
    z-index: 500; /* 사이드바의 z-index 설정 */
}

.sidebar-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.sidebar-item:hover {
    background-color: #1e1e1e;
}

.sidebar-item img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.sidebar-text {
    font-size: 14px;
}